<div style="float: left; min-width: 160px;">
    <h5 style="float: left;">{{card_content_title}}&nbsp;&nbsp;&nbsp;</h5>
    <h6 style="float: left; opacity: 0.7;">{{card_content_subtitle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
    <div style="clear: both;"></div>
</div>
