<div style="width: 48%; float: left;">
    <h5 style="float: left; opacity: 0.7;">{{key}}:&nbsp;</h5>
    <h5 style="float: left;">{{value}}</h5>
    <div style="clear:both;"></div>
</div>
<div style="float: left; width: 1%;"><p> </p></div>