<!DOCTYPE html>
<html lang="en">

<head>
    <title>CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .sectionsContainer {
        }
    </style>
</head>

<body class="content" style="padding: 40px;">
    <div class="sectionsContainer">
        {{sections}}
    </div>
</body>

</html>