<!DOCTYPE html>
<html lang="en">

<head>
    <title>CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .infoBlock {
            background-color: #283f49;
            color: whitesmoke;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>

<body class="content" style="padding: 40px;">
    <div>
        <div style="width: 25%; float: left;">
        <img src="{{img_path}}" style="
        aspect-ratio: initial;
        width: 100%;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-top: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        ">
        </div>
        <div style="width: 75%; float: right;">
            <h1>{{home_name}}</h1>
            <div>
                {{contact_info}}
            </div>
        </div>
        <div style="clear: both;">
            <br>
            <h4>{{home_title}}</h4>
            <p>{{home_description}}</p>
        </div>
        <hr>
    </div>
    <div class="infoBlock">
        {{cards}}
    </div>
</body>

</html>