<div>
    <br>
    <div>
        <div style="float: left;">
            <h4>{{section_content_title}}</h4>
            <h6>{{section_content_subtitle}}</h6>
        </div>
        <h5 style=" opacity: 0.8; float: right;">{{section_content_comment}}</h5>
    </div>
    <p style="clear: both;">
        {{section_content_description}}
    </p>
</div>